SUPABASE_URL=https://lsjxzrgsgxcdhqeuoqcq.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_Njf38K06U0ChYCDI4AcsXg_ChSmoMwy
SUPABASE_SECRET_KEY=sb_publishable_Njf38K06U0ChYCDI4AcsXg_ChSmoMwy
SUPABASE_JWKS_URL=https://lsjxzrgsgxcdhqeuoqcq.supabase.co/auth/v1/.well-known/jwks.json
