node_modules
# Keep environment variables out of version control
.env
.agents
.claude
.windsurf
skills-lock.json

*.tsbuildinfo
*.log

src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/**/*.js.map

/src/generated/prisma
